* {
    margin: 0px;
    padding: 0px;
}

body {

}

.nav {
    display: inline-block;
    position: relative;
}

.nav-dropdown {
    color: white;
    background-color: chartreuse;
    text-decoration: none;
    padding: 14px 16px;
    min-width: 128px;
    cursor: pointer;
    display: block;
}

.list {
    display: none;
    position: absolute;
    background-color: fuchsia;
    min-width: 160px;
    z-index: 1;
}

.list .item {
    color: black;
    padding: 14px 16px;
    display: block;
}

.nav:hover .list {
    display: block
}

.nav .item:hover {
    background-color: orange;
    cursor: pointer;  
}